[Desktop Entry]
Type=Application
Name=WebAudit
Comment=WebAudit — web server scanner over nikto.
Exec=webaudit
Icon=webaudit
Terminal=false
Keywords=pentest;security;nikto;
StartupNotify=true
Categories=kali-web-scanning;kali-vulnerability-scanning;
