[Desktop Entry]
Type=Application
Name=WebAudit
Comment=WebAudit — web server scanner over nikto.
Exec=webaudit
Icon=webaudit
Terminal=false
Categories=System;Security;
Keywords=pentest;security;nikto;
StartupNotify=true
