[Desktop Entry]
Type=Application
Name=AirAudit
Comment=AirAudit — wireless auditor over aircrack-ng.
Exec=airaudit
Icon=airaudit
Terminal=false
Keywords=pentest;security;aircrack-ng;
StartupNotify=true
Categories=kali-wifi;
