[Desktop Entry]
Type=Application
Name=PortScope
Comment=PortScope — scan profiler + history over nmap.
Exec=portscope
Icon=portscope
Terminal=false
Keywords=pentest;security;nmap;
StartupNotify=true
Categories=kali-network-service-discovery;kali-discovery;
